table td div[style="border-top-left-radius: 8px !important; border-top-right-radius: 8px !important; background-color: rgb(0, 188, 212);"]{
    background-image : url("https://topnguyen.com/content/images/2021/01/Work-from-home-setup.-What-every-employee-must-have.png");
    background-size : 400px 100px;
}

/* body{
background-color : black;
}; */
